@use '@angular/material' as mat;
@include mat.core();

// Set variables to whatever colors you want for your app
$dark-theme-primary: mat.define-palette(mat.$cyan-palette, 800);
$dark-theme-accent: mat.define-palette(mat.$cyan-palette, 100);
$dark-theme-warn: mat.define-palette(mat.$blue-palette, 100);


$dark-theme: mat.define-light-theme(( color: ( primary: $dark-theme-primary, accent: $dark-theme-accent, warn: $dark-theme-warn) ));

/*$dark-theme: mat.dark-theme( $dark-theme-primary, $dark-theme-accent, $dark-theme-warn );*/

@include mat.core-theme($dark-theme);

@include mat.button-theme($dark-theme);

//for all components
@include mat.all-component-themes($dark-theme);

